.Category {
  width: 7rem;
  height: 2.5rem;
  background-color: var(--color-white);
  border: none;
  border-radius: 15px;

  &:hover {
    transform: scale(0.95);
  }
  &:active {
    transform: scale(0.9);
  }
}
