.ButtonsF {
  height: 2.5rem;
  width: 8.5rem;
  border-radius: 15px;
  background-color: var(--color-green);
}
.ButtonsM {
  height: 2.5rem;
  width: 8.5rem;
  border-radius: 15px;
  background-color: var(--color-orange);
}
.ButtonsD {
  height: 2.5rem;
  width: 8.5rem;
  border-radius: 15px;
  background-color: var(--color-red);
}
