nav {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  font-size: 1.1rem;
  .trivality {
    height: 80%;
  }
}
.navbar {
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
}
li {
  list-style: none;
  height: 100%;
  .dropdown-icon {
    width: 0.8rem;
  }
}
.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-white);
  height: 100%;
  gap: 5px;
  &:hover {
    opacity: 50%;
  }
  span {
    font-size: 1.5rem;
  }
}
.dropdown-link {
  position: relative;
  display: flex;
  justify-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  background-color: var(--navbar-color);
  min-width: 120px;
  border-radius: 0px 0px 8px 8px;
  padding: 12px 16px;
  z-index: 1;
  li {
    padding: 5px 0;
  }
}

.dropdown-link:hover .dropdown-content {
  display: block;
}
