:root {
  --color-green: #91e5a6;
  --color-red: #ffa3a3;
  --color-orange: #fdb36f;
  --color-purple: #d8afff;
  --color-blue: #7ca9ff;
  --color-smoke-purple: #48424e;

  --color-black: #151515;
  --color-grey: #202020;
  --color-light-grey: #505050;
  --color-white: #eaeaea;

  --navbar-color: var(--color-smoke-purple);
  --font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  min-height: 100vh;
}
